*.env
*.pyc
server/venv
.DS_Store
__pycache__
appdb
logdb
yarn.lock
mongodb
server/.vscode
server/db/fixtures
celerybeat-schedule
.vscode
server/data
*/.cache
*silero_vad.tar.gz
deployment/k8s/server/server-secrets.yaml